<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs')%>
    <main>
        <% if(products.length > 0) { %>
            <div class="centered">
            <ul>
                <% products.forEach( p => {%>
                     
                    <li>
                        
                           
                       <p><%= p.title %> (<%= p.cartItem.quantity%>)</p>
                      <form action="/cart/delete-item" method="post">
                      <input type="hidden" name="productId" value="<%=p.id%>">
                      <button class="btn" type="submit">Delete</button>
                      </form>

                      <hr>
                    </li>
              


                <% })%>
            </ul>
        </div>
            <div class="centered">
                  <form action="/create-order" method="post">

                 <button type="submit" class="btn">Order Now!</button>
                  </form>
            </div>
        
         <% } else {%>

             <h1> There are no product in cart</h1>
         <% } %>

    </main>
    <%- include('../includes/end.ejs')%>